# Carpeta temporal de Air
tmp/

# Archivos binarios compilados
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de prueba
*.test

# Archivos de cobertura
*.out

# Archivos de dependencias
vendor/

# Archivos del sistema
.DS_Store
.env
*.json
!uploads/patients/dni/metadata/*.json
*.pem
muac.db
muac-api

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo